{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %} Sign Out {{ block.super }}{% endblock %}

<div class="container">

  {% block content %}

    {% comment %} <h1>{% trans "Sign Out" %}</h1> {% endcomment %}
    {% with page_title="Sign Out" %}
    {% include "page_title.html" %}
    {% endwith %}

    <div class="row">
      <div class="col-md-4 offset-md-4">
      
        <div class="text-center">
          <p>'Are you sure you want to sign out?'</p>
        </div>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            
            <div class="text-center">
            {% buttons %}
          		<button type="submit" class="btn btn-primary" title="Sign Out">
            		Sign Out
          		</button>
          	{% endbuttons %}     
            </div>

            {% comment %} <button type="submit">{% trans 'Sign Out' %}</button> {% endcomment %}
        </form>

      </div>
    </div>


  {% endblock %}

</div>