{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block head_title %} Password Reset {{ block.super }}{% endblock %}

<div class="container">

    {% block content %}

        {% with page_title="Password Reset" %}
        {% include "page_title.html" %}
        {% endwith %}

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <div class="text-center">
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>


    {% endblock %}

</div>