{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %} Change Password {{ block.super }}{% endblock %}

<div class="container">

    {% block content %}

    <div class="row">
        <div class="col-md-4 offset-md-4">

            {% if token_fail %}        
                {% with page_title="Bad Token" %}
                {% include "page_title.html" %}
                {% endwith %}
            {% else %}
                {% with page_title="Change Password" %}
                {% include "page_title.html" %}
                {% endwith %}
            {% endif %}

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="text-center">
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                </div>
            {% else %}
                {% if form %}
                    {% bootstrap_form_errors form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" name="action" value="{% trans 'change password' %}"  title="change password">
                                change password
                            </button>
                        {% endbuttons %}
                    </form>

                {% else %}
                    <div class="text-center">
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                {% endif %}
            {% endif %}
        
        </div>
    </div>

    {% endblock %}

</div>