{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %} Change Password {{ block.super }}{% endblock %}

<div class="container">

    {% block content %}
       
        {% comment %} <h1>{% trans "Change Password" %}</h1> {% endcomment %}

        {% with page_title="Change Password" %}
        {% include "page_title.html" %}
        {% endwith %}

        <div class="row">
            <div class="col-md-4 offset-md-4">
            

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% bootstrap_form form %}
        
            {% buttons %}
                <button type="submit" name="action" class="btn btn-primary" title="Change Password" >
                    Change Password
                </button>

            {% endbuttons %}

        </form>


            </div>
        </div>
    
    
    {% endblock %}

</div>
