# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv

# static file
static
helm_static/compiled

# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml

# log dir
log