{% extends "base.html" %}

{% block head_title %} Deshboard {{ block.super }}{% endblock %}

{% block content %}


<div class="container-fluid">
	<div class="row main-row">
		<div class="col-12">

			<div class="outer-border">

				<div class="heading-wrapper">
					<div class="row">
						<div class="col-12 ml-auto mr-auto">
							<h2 class="recoard_head">
								Exam Recoards
							</h2>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-2 table-responsive recoard-side-menu">
						<table class="table">
							<thead>
								{% for e in exam %}
								<tr>
									<td><a href="{% url 'engineering:detail' e.id %}">{{ e }}</a> </td>
								</tr>
								{% endfor %}
							</thead>
						</table>
					</div>
					<div class="col-10 table-responsive recoard-side-data">
						<table class="table">
							<thead>
								<tr>
									<th>Subject</th>
									<th>Ia</th>
									<th>Ia Grade</th>
									<th>Tw</th>
									<th>Tw Grade</th>
									<th>Or</th>
									<th>Oe Grade</th>
									<th>Pr</th>
									<th>Pr Grade</th>
									<th>Tr</th>
									<th>Tr Grade</th>
								</tr>
							</thead>
							<tbody>
								{% for exam in result %}

								<tr>
									<td class="subject"> {{exam.subject}} </td>
									<td> {{exam.internal_assessment}} </td>
									<td> {{exam.internal_assessment_grade}} </td>
				
									<td> {{exam.term_work}} </td>
									<td> {{exam.term_work_grade}} </td>
				
									<td> {{exam.oral}} </td>
									<td> {{exam.oral_grade}} </td>
				
									<td> {{exam.oral_and_practical}} </td>
									<td> {{exam.oral_and_practical_grade}} </td>
				
									<td> {{exam.end_sem_exam}} </td>
									<td> {{exam.end_sem_exam_grade}} </td>
				
								</tr>

								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="container outer-border">

	<div class="row heading">
		<h2 class="heading-text">Exam Recoards</h2>
	</div>

	<div class="row table-row">

		<table class="table">
			<thead>
				<tr>
					<th>Exam</th>
					<th>Subject</th>
					<th>Ia</th>
					<th>Ia Grade</th>
					<th>Tw</th>
					<th>Tw Grade</th>
					<th>Or</th>
					<th>Oe Grade</th>
					<th>Pr</th>
					<th>Pr Grade</th>
					<th>Tr</th>
					<th>Tr Grade</th>
				</tr>
			</thead>
			<tbody>
				{% for exam in result %}
				<tr>
					<td> {{exam.exam}} </td>
					<td> {{exam.subject}} </td>
					<td> {{exam.internal_assessment}} </td>
					<td> {{exam.internal_assessment_grade}} </td>

					<td> {{exam.term_work}} </td>
					<td> {{exam.term_work_grade}} </td>

					<td> {{exam.oral}} </td>
					<td> {{exam.oral_grade}} </td>

					<td> {{exam.oral_and_practical}} </td>
					<td> {{exam.oral_and_practical_grade}} </td>

					<td> {{exam.end_sem_exam}} </td>
					<td> {{exam.end_sem_exam_grade}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div> -->


{% endblock %}