{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
        {% with page_title="Exam Form" %}
        {% include "page_title.html" %}
        {% endwith %}

    <div class="row">
    <div class="col-md-4 offset-md-4">
    {% comment %} <h2>Exam Form</h2> {% endcomment %}

    <form method="POST" class="post-form">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% bootstrap_form form %}

            <table class="table">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                {% comment %} <th>{{ field.label|capfirst }}</th> {% endcomment %}
                                {% bootstrap_label field.label %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {% comment %} {{ field }} {% endcomment %}
                                {% bootstrap_field field %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    
    </div>
    </div>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add Subject',
            deleteText: 'remove',
            prefix: 'engineeringexamapplicationsubjectuser_set'
        });
    </script>
    <script>
        var streamId0;
        var semesterId0;
        $("#id_engineeringexamapplicationsubjectuser_set-0-stream").change(function () {
            streamId0 = $(this).val();

            $.ajax({
                url: '/engineering/ajax/load-semester/',
                type: "GET",
                data: {
                    'stream': streamId0
                },
                success: function (data) {
                    $("#id_engineeringexamapplicationsubjectuser_set-0-semester").html(data);
                }
            });

        });

        $("#id_engineeringexamapplicationsubjectuser_set-0-semester").change(function () {
            semesterId0 = $(this).val();
            console.log(semesterId0);
            console.log(streamId0);
            $.ajax({
                url: '/engineering/ajax/load-subject/',
                type: "GET",
                data: {
                    'stream': streamId0,
                    'semester': semesterId0,

                },
                success: function (data) {
                    console.log(data);
                    $("#id_engineeringexamapplicationsubjectuser_set-0-subject").html(data);
                }
            });

        });
    </script>
    <script>
        var streamId1;
        var semesterId1;
        $("#id_engineeringexamapplicationsubjectuser_set-1-stream").change(function () {
            streamId1 = $(this).val();

            $.ajax({
                url: '/engineering/ajax/load-semester/',
                type: "GET",
                data: {
                    'stream': streamId1
                },
                success: function (data) {
                    $("#id_engineeringexamapplicationsubjectuser_set-1-semester").html(data);
                }
            });

        });

        $("#id_engineeringexamapplicationsubjectuser_set-1-semester").change(function () {
            semesterId1 = $(this).val();
            console.log(semesterId1);
            console.log(streamId1);
            $.ajax({
                url: '/engineering/ajax/load-subject/',
                type: "GET",
                data: {
                    'stream': streamId1,
                    'semester': semesterId1,

                },
                success: function (data) {
                    console.log(data);
                    $("#id_engineeringexamapplicationsubjectuser_set-1-subject").html(data);
                }
            });

        });
    </script>
    <script>
        var streamId2;
        var semesterId2;
        $("#id_engineeringexamapplicationsubjectuser_set-2-stream").change(function () {
            streamId2 = $(this).val();

            $.ajax({
                url: '/engineering/ajax/load-semester/',
                type: "GET",
                data: {
                    'stream': streamId2
                },
                success: function (data) {
                    $("#id_engineeringexamapplicationsubjectuser_set-2-semester").html(data);
                }
            });

        });

        $("#id_engineeringexamapplicationsubjectuser_set-2-semester").change(function () {
            semesterId2 = $(this).val();
            console.log(semesterId2);
            console.log(streamId2);
            $.ajax({
                url: '/engineering/ajax/load-subject/',
                type: "GET",
                data: {
                    'stream': streamId2,
                    'semester': semesterId2,

                },
                success: function (data) {
                    console.log(data);
                    $("#id_engineeringexamapplicationsubjectuser_set-2-subject").html(data);
                }
            });

        });
    </script>
    <script>
        var streamId3;
        var semesterId3;
        $("#id_engineeringexamapplicationsubjectuser_set-3-stream").change(function () {
            streamId3 = $(this).val();

            $.ajax({
                url: '/engineering/ajax/load-semester/',
                type: "GET",
                data: {
                    'stream': streamId3
                },
                success: function (data) {
                    $("#id_engineeringexamapplicationsubjectuser_set-3-semester").html(data);
                }
            });

        });

        $("#id_engineeringexamapplicationsubjectuser_set-3-semester").change(function () {
            semesterId3 = $(this).val();
            console.log(semesterId3);
            console.log(streamId3);
            $.ajax({
                url: '/engineering/ajax/load-subject/',
                type: "GET",
                data: {
                    'stream': streamId3,
                    'semester': semesterId3,

                },
                success: function (data) {
                    console.log(data);
                    $("#id_engineeringexamapplicationsubjectuser_set-3-subject").html(data);
                }
            });

        });
    </script>


    <script>
        var streamId4;
        var semesterId4;
        $("#id_engineeringexamapplicationsubjectuser_set-4-stream").change(function () {
            streamId4 = $(this).val();

            $.ajax({
                url: '/engineering/ajax/load-semester/',
                type: "GET",
                data: {
                    'stream': streamId4
                },
                success: function (data) {
                    $("#id_engineeringexamapplicationsubjectuser_set-4-semester").html(data);
                }
            });

        });

        $("#id_engineeringexamapplicationsubjectuser_set-4-semester").change(function () {
            semesterId4 = $(this).val();
            console.log(semesterId4);
            console.log(streamId4);
            $.ajax({
                url: '/engineering/ajax/load-subject/',
                type: "GET",
                data: {
                    'stream': streamId4,
                    'semester': semesterId4,

                },
                success: function (data) {
                    console.log(data);
                    $("#id_engineeringexamapplicationsubjectuser_set-4-subject").html(data);
                }
            });

        });
    </script>
{% endblock %}
