.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

// component outer boarder
.outer-border {
  border: dashed 1px #c7c7c7;
  position: relative;
}

// Attendance Head
.heading-wrapper {
  // background-color: #E4E4E4;
  .recoard_head {
    // font-family: 'Source Sans Pro', sans-serif;
    // font-size: 24px;
    // font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: relative;
    border-bottom: 1px dashed #979797;
    // &::before {
    //     position: absolute;
    //     content: "";
    //     top: 16px;
    //     left: 0;
    //     height: 2px;
    //     width: 150px;
    //     background: #27251f;
    // }
    // &::after {
    //     position: absolute;
    //     content: "";
    //     top: 16px;
    //     right: 0;
    //     height: 2px;
    //     width: 150px;
    //     background: #27251f;
    // }
  }
}

// social media
.recoard-side-menu {
  text-align: -webkit-center;
  table {
    width: -webkit-fill-available;
    tr {
      td {
        a{
            color: #000000;
            text-decoration: unset;
        }
        a:hover {
          color: #000000;
          text-decoration: unset;

        }
        text-align: left;
      }
    }
    tr:hover {
      cursor: pointer;
      background-color: #f1f0ed;
      td {
        color: #000000;
      }
    }
    td {
      font-family: 'Quicksand', sans-serif;
      color: black;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      padding: 10px 10px;
      text-align: left;
      border-collapse: collapse;
      border-bottom: 1px solid #dad6cb;
      border-top: 1px solid #dad6cb;
      border-left: 1px solid #dad6cb;
      border-right: 1px solid #dad6cb;
    }
  }
}

.recoard-side-data {
  // background-color: #E4E4E4;
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0) !important;
  }
  /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  table {
    thead {
      tr {
        th {
          font-family: 'Quicksand', sans-serif;
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          padding: 10px 10px;
          border-top: 1px solid #dad6cb;
          border-left: 1px solid #dad6cb;
          border-right: 1px solid #dad6cb;
          border-bottom: 1px solid #dad6cb;
          border-collapse: collapse;
          color: #000000;
        }
      }
    }
    tbody {
      tr {
        td {
          font-family: 'Quicksand', sans-serif;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          color: #000000;
          text-align: center;
          padding: 10px 10px;
          border-bottom: 1px solid #dad6cb;
          border-right: 1px solid #dad6cb;
          border-left: 1px solid #dad6cb;
          border-collapse: collapse;
        }
        .subject {
            text-align: left;
        }

      }
      tr:hover {
        cursor: pointer;
        background-color: #f1f0ed;
        td {
          color: black;
          // background-color: transparent;
        }
      }
    }
  }
}

// .heading {
//   border-bottom: 1px dashed #979797;
// 
//   .heading-text {
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//   }
// }

// .table {
//   font-size: 12px;
// }
