{% extends "base.html" %}

{% block head_title %} Deshboard {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row mt-3">
		<div class="col text-center">
			<h3>Deshboard</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent erat arcu, molestie eu augue quis,
				faucibus venenatis urna. Aliquam ultrices sit amet metus et blandit. Suspendisse eleifend erat sed augue
				malesuada gravida. Donec sodales dictum mauris accumsan rhoncus. Sed non mauris elementum risus tempor
				porta sed congue eros. Nunc tempor felis quis erat lobortis tincidunt non quis sapien. Aenean sed
				maximus odio. Aliquam et felis ut nulla pretium varius. Aliquam dapibus fermentum metus ac pharetra. Sed
				tincidunt, ante quis vestibulum eleifend, tortor libero tristique velit, id ultricies ante massa eget
				ante. Phasellus posuere quam at quam aliquet dapibus. Morbi nec cursus libero. Ut mauris augue, interdum
				at quam quis, ultricies imperdiet eros. Nulla ac volutpat metus.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row main-row">
		<div class="col-12">

			<div class="outer-border">

				<div class="heading-wrapper">
					<div class="row">
						<div class="col-12 ml-auto mr-auto">
							<h1 class="attendance_head">
								Exam's Recoard
							</h1>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-2 social-side-menu">
						<table>

							<tr class="selected">
								<td>Exam M-2018</td>
							</tr>
							<tr>
								<td>Exam D-2018</td>
							</tr>
						</table>
					</div>

					<div class="col-10 table-responsive social-side-data">

						<table class="table" id="tabAutoPaging">
							<thead>
								<tr>
									<th>
										<div class="tm-name">
											Artificial Intilegent
										</div>
									</th>
									<th attr.colspan='{{ socialMediaSessionYear.length }}'> Facebook </th>
									<th attr.colspan='{{ socialMediaSessionYear.length }}'> Tweeter </th>
									<th attr.colspan='{{ socialMediaSessionYear.length }}'> Instalgram </th>
									<th attr.colspan='{{ socialMediaSessionYear.length }}'> Youtube </th>
								</tr>
								<tr>
									<th></th>
									<!-- facebook -->
									<th>
										<div class="data">
											{{ value }}
										</div>
									</th>
									<!-- tweeter -->
									<th>
										<div class="data">
											{{ value }}
										</div>
									</th>
									<!-- instalgram -->
									<th>
										<div class="data">
											{{ value }}
										</div>
									</th>
									<!-- youtube -->
									<th>
										<div class="data">
											{{ value }}
										</div>
									</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<div class="data">
										</div>
									</td>
									<td>
										<div class="data">
										</div>
									</td>
									<td >
										<div class="data">
										</div>
									</td>
									<td >
										<div class="data">
										</div>
									</td>
									<td >
										<div class="data">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}