
  <footer class="site-footer">
  <hr/>
  <div class="bottom">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-xs-12 text-lg-left text-center">
          <p class="copyright-text">
            © J Creation
          </p>
          <div class="credits">
            Designed by <a href="#">J Kotadiya</a>
          </div>
        </div>

        <div class="col-lg-6 col-xs-12 text-lg-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              {% comment %} <a href="{% url 'landing' %}">Home</a> {% endcomment %}
            </li>

            <li class="list-inline-item">
              <a href="{% url 'about' %}">About Us</a>
            </li>

            <li class="list-inline-item">
              <a href="{% url 'contact' %}">Contact Us</a>
            </li>

            <li class="list-inline-item">
              <a href="{% url 'contribute' %}">contribute</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
